[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
requests = "*"
raven = "*"
python-dateutil = "*"

[dev-packages]
pep8 = "*"
black = "==19.3b0"
ipython = "==7.16.3"
pytest = "*"

[requires]
python_version = "3.7"
