[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "==0.1.0"
"backports.shutil_get_terminal_size" = "==1.0.0"
decorator = "==4.2.1"
Django = "==1.11.12"
"enum34" = "==1.1.6"
gunicorn = "==19.7.1"
"pathlib2" = "==2.3.0"
pexpect = "==4.5.0"
pickleshare = "==0.7.4"
prompt_toolkit = "==1.0.15"
ptyprocess = "==0.5.2"
Pygments = "==2.2.0"
pytz = "==2018.3"
scandir = "==1.7"
simplegeneric = "==0.8.1"
six = "==1.11.0"
traitlets = "==4.3.2"
wcwidth = "==0.1.7"

[dev-packages]

[requires]
python_version = "3.6"
